* {
    /* border: 2px red solid; */
}
body {
    height: 100%;
    width: auto;
    margin: 0%;
}

/* Header */
header {
    background-color: #f3e5f5;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0;
    opacity: 0.8;
    z-index: 1;
}

/* Header Logo */
.logo {
    display: flex;
    height: 10em;
    width: fit-content;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(71%) sepia(17%) saturate(354%) hue-rotate(77deg) brightness(88%) contrast(87%);
}
header img {
    margin-left: 5em;
    height: 8em;
    width: 8em;
}
.logo:hover {
    filter: invert(100) saturate(0%);
}
.logo_title{
    font-family: Lato, sans-serif;
    font-size: 3em;    
    margin-left: 0.25em;
}

/* Navigation bar */
#navbar {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;    
    height: inherit;
}

#navbar li {
    font-size: 2em;
    font-family: Lato, sans-serif;
    width: 5em;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#navbar a {
    box-sizing: border-box;
    display: inline-flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
#navbar a:hover {
    background-color: #D7B6DB;
    color: white;
    border-bottom: 0.5em solid #8CA890;
}

/* Banner */
.banner_image {
    height: 50%;
    width: inherit;
}
.banner_image img {
    width: 100%;
    height: auto;
}

/* Article */
/* Article Wrapper */
.article_wrapper {
    position: relative;
    bottom: 50em; 
    width: 100%;
    height: auto;
    background-color: #f3e5f5;
    display: flex;
    justify-content: center;
}

article {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Lato, sans-serif;
    align-items: center;
    background-color: transparent;
    position: relative;
    bottom: 25em;
    opacity: 0.95;
}

.island_main {
    height: 40em;
    width: 100%;
    margin: 4em 0em;
    display: flex;
    border-radius: 5em;
    background-color: #E9E4F5;
}

.island_main_content {
    display: flex;
    align-items: center ;
}

.island_main_content img {
    height: 30em;
    width: auto;
    margin: 3em;
    filter: brightness(0) saturate(100%) invert(71%) sepia(17%) saturate(354%) hue-rotate(77deg) brightness(88%) contrast(87%);
}

.island_main_content img:hover {
    filter: invert(100) saturate(0%);
    opacity: 0.5;
}

.island_main_content_text {
    font-size: 2em;
    text-align: left;
    margin: 3em;
    filter: brightness(0) saturate(100%) invert(71%) sepia(17%) saturate(354%) hue-rotate(77deg) brightness(88%) contrast(87%)
}

.island_main_content_text h1 {
    text-align: center;
    font-weight:;
}

.island {
    height: 40em;
    width: 100%;
    margin: 2em 0em;
    display: flex;
}

.island_content {
    display: flex;
    background-color: transparent;
    
}

.island_content_1 {
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.island_content_1_img_wrapper {
    margin: 3em;
    background-color:#E9E4F5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 3em;
    box-sizing: border-box;
    border-radius: 5em;
    border: .5em solid black;
}

.island_content_1_text {
    height: 100%;   
    display: flex;
    align-items: center;
    padding: 0 3em;
    font-size: 2em;
    text-align: left;
    filter: brightness(0) saturate(100%) invert(71%) sepia(17%) saturate(354%) hue-rotate(77deg) brightness(88%) contrast(87%);
}

.island_content_1_text p {
    text-align: center;
}